{% extends "mytvddata/cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}

    <h2>
        {% if form.instance.pk %}
            Edit Staff Member
        {% else %}
            Add Staff Member
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}
                Save Changes
            {% else %}
                Submit
            {% endif %}
        </button>
        <a href="{% url 'staff_list' %}" class="btn btn-secondary">
            Return to Staff List
        </a>
    </form>

{% endblock %}
