{% extends "mytvddata/cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block style %}
  
{% endblock style%}
{% block content %}

     <section class="section single-wrapper">
        <div class="container-fluid" id="my-workplans-table-container" style="width: 140rem;">
		    <div class="row">
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                 
                    <div class="page-wrapper">
                        {% if user.is_authenticated %}  
                                <section class="content-header">
                                        <div class="col-xs-12 col-sm-12">
                                            <h4 class="text-left caption">
                                                {% for message in messages %}
                                                <small><code>{{ message }}</code></small>
                                                {% endfor %}
                                            </h2>
                                            <h3>
                                                Add, view and edit <b>the survey Project name</b>
                                                <small>Dataset</small>                  
                                            </h3>        
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-reply"></i> Back</a></li>
                                                <li class="breadcrumb-item"><a href="/survey_report"><i class="fa fa-bars"></i> Survey views</a></li>
                                                <li class="breadcrumb-item"><a href="{% url 'export_project_survey' %}"><i class="fa fa-external-link"></i> Export to Excel</a></li>
                                                <li class="breadcrumb-item"><a href="{% url 'json_surveyproject' %}"><i class="fa fa-cog"></i> API survey project</a></li>
                                                <li class="breadcrumb-item"><a href="/index_survey"><i class="fa fa-window-restore"></i> Enter datasate</a></li>
                                            </ol>
                                            <form method="GET">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div><input class="form-control" name="title_surv" type="text" placeholder="Search here title"></div>
                                                    <div><button type="submit" class="btn btn-success">
                                                        <i class="fa fa-search fa-fw"></i>
                                                    </button></div>
                                                </div>
                                            </form>
                                        </div>
                                </section>
                                <div class="row tbl-fixed">
                                    <table class="table responsive" id="myWorkplansTable1" style="width:100%"  data-toggle="table" data-pagination="true" data-search="true">
                                        <form method="POST" action="{% url 'project_survey' %}">
                                            {% csrf_token %}
                                                <tr>
                                                    <th>Responsible for the survey</th>
                                                    <th>Survey title</th>
                                                    <th>Target population</th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Survey location</th>
                                                </tr>
                                                {% if not form.instance.id %}
                                                <tr> 
                                                    {% include 'mytvddata/pages/survey/survey_project_save.html' %}
                                                </tr>
                                                {% endif %}
                                            {% for surveyProject in surveyProjects %}
                                                <tr>
                                                    {% if form.instance.id == surveyProject.id %}
                                                    {% include 'mytvddata/pages/survey/survey_project_save.html' %}
                                                    {% else %} 
                                                    <td>{{surveyProject.responsible}}</td>
                                                    <td>{{surveyProject.title_surv}}</td>
                                                    <td>{{surveyProject.target_population}}</td>
                                                    <td>{{surveyProject.start_date}}</td>
                                                    <td>{{surveyProject.end_date}}</td>
                                                    <td>{{surveyProject.location_survey}}</td>
                                                    
                                                    <td><button formnovalidate name="edit" value="{{surveyProject.id}}" class="btn btn-primary btn-sm">Edit</button></td>
                                                    <td><button formnovalidate name="delete" value="{{surveyProject.id}}" class="btn btn-warning btn-sm">delete</button></td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %} 
                                        </form>
                                    </table>
                                </div>
                                {% comment "" %}
                                <ul class="pagination justify-content-center my-5">
                                    {% if surveyProjects.has_previous %}
                                    <!-- 'First' and 'Previous' Buttons -->
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">|&lt; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ surveyProjects.previous_page_number }}">&lt; Previous</a>
                                    </li>
                                    {% endif %}  
                                    <!-- Numbered Buttons -->
                                    {% for page in paginator.page_range %}
                                    {% if surveyProjects.number == page %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                        </li>
                                    {% elif page > surveyProjects.number|add:'-3' and page < surveyProjects.number|add:'3' %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                    {% endfor %}       
                                    <!-- 'Next' and 'Last' Buttons -->
                                    {% if surveyProjects.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" 
                                        href="?page={{ surveyProjects.next_page_number }}">Next &gt;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ surveyProjects.paginator.num_pages }}">Last &gt;|</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endcomment %}
                           
                        {% else %}
                                <section>
                                    <p style="position: center;">
                                        We could not find the page you were looking for. 
                                        Meanwhile, you may <a href='/signin'>login with your account</a> or <a href='/'>return to home page</a>.
                                    </p>
                                </section>   
                        {% endif %}
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
            </div><!-- end row -->
	   </div><!-- end container -->
    </section>
<!-- end wrapper -->
{% endblock %}


