<!-- Add Modal -->
<div class="modal fade" id="addScriptModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addScriptForm" method="POST" action="{% url 'add_new_t_scripts' %}">
                {% csrf_token %}
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">
                        <i class="fa fa-plus"></i> Add New Script
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info mb-3">
                        <i class="fa fa-info-circle"></i> Fill in the fields below to add a new script.
                    </div>

                    <!-- Champs du formulaire -->
                    <div class="mb-3">
                        <label class="form-label fw-bold">Title</label>
                        {{ form.ws_title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Author</label>
                        {{ form.ws_focalpoint }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Date</label>
                        {{ form.ws_date }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Summary</label>
                        {{ form.ws_summary }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Save Script
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
