
{% load widget_tweaks %}
{% load crispy_forms_tags %}


<form method="post" class="js-indicator-create-form" action="{% url 'create_indicator' %}">
  {% csrf_token %}
  <div class="modal-header bg-success text-white">
    <h5 class="modal-title">
      <i class="fa fa-plus-circle me-2"></i> Add Indicator
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    {{ form|crispy }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
      <i class="fa fa-times"></i> Cancel
    </button>
    <button type="submit" class="btn btn-success">
      <i class="fa fa-save"></i> Save
    </button>
  </div>
</form>
