


{% for indicator in indicators %}
<tr>
  <td>{{ indicator.indicator_code }}</td>
    <td>{{ indicator.indicator_name}}</td>
    <td>{{ indicator.indicator_description }}</td>
    <td>{{ indicator.indicator_target }}</td>
    <td>{{ indicator.indicator_metric }}</td>
    <td>{{ indicator.indicator_unit }}</td>
    <td>{{ indicator.indicator_frequency }}</td>
    <td><a href="{{indicator.indicator_source}}" target="_blank" class="text-primary">{{indicator.indicator_source}}</a></td>
    <td>{{ indicator.category_indicator }}</td>
    <td>{{ indicator.forecasting_indicator }}</td>
    <td>{{ indicator.performance_indicator }}</td>
    <td>{{ indicator.type_indicator }}</td>
    <td>{{ indicator.ref_data }}</td>

    <td>{{ indicator.subcomponent.subcomponent_name }}</td>
    <td>{{ indicator.subcomponent.component.component_name }}</td>
    
  <td>
    <button class="btn btn-sm btn-info js-update-indicator"
            data-url="{% url 'update_indicator' indicator.pk %}">
      Edit
    </button>
    <button class="btn btn-sm btn-danger js-delete-indicator"
            data-url="{% url 'delete_indicator' indicator.pk %}">
      Delete
    </button>
  </td>
</tr>

{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Indicator</td>
  </tr>

{% endfor %}

